<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<ul class="navbar-nav mr-auto">
    <li><a class="navbar-brand" href="Home.html">BetterCallDoc</a></li>
    <div class="hidden-sm-down horizontal-box" style="max-width:50%;width:120px;display:inline-flex">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Explore
      </button>
            <div id="drop" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
        </div>
    </div>

    <form class="example" action="/action_page.php">
        <input type="text" placeholder="What do you want to learn?" name="search" style="max-width:40%;width:650px;display:inline-flex">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

</ul>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li id="btnLogin" class="nav-item">
            <!-- <a class="btn btn-warning" href="#">Log In</a> -->
        </li>
    </ul>
</div>