<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

    <div class="text-center">
        <div class="bg-indigo-700">
            <p class="text-6xl font-bold text-white p-8">Better Call Doc</p>

        </div>
        <p class="text-xl font-semibold text-indigo-700 pb-10">
            Prescribed By:
            <%= data[0].prescribed_by %>
        </p>
        <p class="text-lg">
            <%= data[0].details %>
        </p>
    </div>

</body>

</html>